
/*eseigi grdzeli gzit gamoviyenet 9-xazi grdzladd*/
.box {
    width: 150px;
    height: 150px;
    background-color: blue;
    border: 3px solid black;
    border-radius: 10px;
    transition: width 0.5s ease, height 0.5s ease, background-color 0.5s ease, border-radius 0.5s ease;
}

.box:hover {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/*mokle gzit rom dagvewera da rogorc 9 xazi 2 metriani ar gamosuliyo transitionahi gadavecit 0.5s */

.box {
    width: 150px;
    height: 150px;
    background: blue;
    border: 7px solid black;
    border-radius: 10px;
    transition: 0.5s;
}

.box:hover {
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
}